/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Nov, 2014, 8:29:20 PM
    Author     : Vinay Sachan
*/

body{
    background-color: #ffffff;
    font-size: 12px
}


header { 
    padding: 0px 0px 15px 0px;
}

header #social-header{
    border: solid 1px #e3e6e8 ;
    border-top: none;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    float: right; 
} 
#social-header li{
    float: left;
    margin: 0;
}

#social-header li a:hover {
    color: #fff;
}

#social-header li a.twitter:hover {
    background-color: #00aced;
}
#social-header li a.gplus:hover {
    background-color: #dd4b39;
}
#social-header li a.fb:hover {
    background-color: #3b5998;
}
#social-header li a.linkedin:hover {
    background-color: #007bb6;
}
#social-header li a.youtube:hover {
    background-color: #bb0000;
}
#social-header li a.rss:hover {
    background-color: #ef922f;
}

#social-header li a{  
    color: #444;
    display: inline-block;
    font-size: 1.5em;
    margin: 0;
    min-width: 40px;
    padding: 7px 10px;
    text-align: center;
    transition: all 0.25s ease 0s; 
}


.logo_img {
    padding-top: 15px;
}
#search_box { 
    margin-top: 10px;
}

#search_box input{
    background-color: #FCFCFC;
    border: 1px solid #DDDDDD; 
    border-radius: 0;
    border-right: none;
    box-shadow: none;
    height: unset;
}

#search_box input:focus{
    color: #555555;
}

#search_box button{
    border: 1px solid #428BCA; 
    border-radius: 0;
    border-left: none;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 4px; 
    margin-right: 0;
    margin-top: 25px; 
    position: relative;
}
.navbar-default{
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    border-top: 1px solid #e7e7e7;
    min-height: 0;
    padding: 0;
    z-index: 99;
}

.navbar {   
    border-bottom: 1px solid #E7E7E7;
    border-top: 1px solid #E7E7E7;
    background-color: #F8F8F8;
    width: 100%; 
    z-index: 99; 
    padding:0 10px;
    min-height: 0px; 
}
.navbar-toggle-btn,.logo {
    display: none;
}
.navbar-nav > li > a {  
    border-right: 1px solid #F1F1F1; 
    color: #333333 !important;
    display: block;
    padding: 10px 35px 10px 10px;
    position: relative;
    z-index: 1;  
}

.navbar-nav > li:first-child > a {
    margin-left: 0px; 
    border-left: 1px solid #F1F1F1; 
} 
.navbar-nav > li > a:hover , .navbar-nav > li > a:focus { 
    background-color: #F3F3F5 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #F3F3F5;
    border-color: #F1F1F1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7 ;
    color: black;
    border-color: #E7E7E7; 
    display: block; 
}
.navbar-nav > li.dropdown > a:after {
    content: "\f0d7"; 
    font-family: FontAwesome; 
    position: absolute;
    right: 12px; 
    transition: all 0.2s ease-in-out 0s;
}
.navbar .navbar-nav > .open > a { 
    border-color: #E9E9E9; 
}  
.navbar-nav > li > ul.dropdown-menu {
    border: medium none;
    font-weight: normal;
    left: 0px;
    margin: 0;
    padding: 0;
    width: 210px;
    z-index: 99999; 
}
.navbar-nav > li:first-child > ul.dropdown-menu  {
    left: 0px;
}





















@media (max-width: 767px){
    .logo_img {
        display: unset;
    }
    #social-header {
        display: none !important;
    }
    .navbar-default{ 
        border-bottom: none; 
        border-top: none; 
    }
}


@media (max-width: 991px){
    .logo_img {
        display: unset;
    } 
}



.brred {
    border: solid 1px red;
}
